body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FCF9F4;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: left;
	width: 60%;
	margin: 0 auto;
	padding-top: 20px;
}

.banner {
	background-color: #E51D37;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	background-color: #E51D37;
}

.color {
	border-top: 2px solid #FFD520;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-align: center;
}

h3 {
	font-style: italic;
	text-align: center;
}

.caption {
	font-size: 12px;
	text-align: center;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.thompsonpic {
	padding-left: 10px;
	float: right;
	max-width: 300px;
	height: 400px;
	height: auto;
	width: auto;
}

.rainellecontainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .rainellecontainer{
  width: 300px;
}
  .thompsonpic {
  float: right;
  width: 200px;
  }
}
