body{
margin-left: auto;
margin-right: auto;
width: 65%;
font-family: 'Open Sans', sans-serif;
}

#bodycolor {
  background-color: lightgrey;
}

h3{
font-style: italic;
}

figcaption{
font-size: 12px;
}

h1{
  font-family: 'Source Sans 3', sans-serif;
  font-size: 40px;
}

footer{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#thompsonpic {
  padding-left: 10px;
  float: right;
  max-width: 300px;
  height: 400px;
  height: auto;
  width: auto;
}
